/* This is the heading */

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  postion:fixed;
  z-index: 1;
}

.logo{
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.logo img{
  width:70px;
  height: 60px;
  padding-right: 30px;
  flex-grow: 1;
}
.logo span{
  color: mediumaquamarine;
}

nav span{

}

/* This is the column */
/*common selectors*/
.lead-content{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.lead-narrative{
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.narrative{
}

/*container*/
.container{
  display: flex;
  justify-content: cneter;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;

}

.column{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 29px;

}
/*images*/

.lead-story-image-main{
  width: 630px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;

}
.lead-story-image-2{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;

}

.lead-story-image-3{

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;

}
.lead-story-image-4{
  width: 300px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}
/*large*/
.column.large{
  width:630px;

  display: flex;
  flex-direction: row;
  align-items:  flex-start;
  flex-wrap: wrap;
}
.orca{

}

.burger{

}
.secondbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*medium*/
.column.medium {
  width: 300px;

}

/*small*/
.column.small {
  width: 240px;

}
